[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
pdfminer-six = "*"
flask = "*"
flask-restplus = "*"
pymongo = "*"
opencv-python = "*"
chardet = "*"
pdf2image = "*"
pytesseract = "*"
google-cloud-vision = "*"
pywin32 = "*"
cheroot = "*"
apscheduler = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
